<div class="container" id="contact-cont">
	
	<div class="contact-link">
		<h2>Contact me</h2>
		</br>
		</br>
		</br>
		</br>
		</br>

		<div class="contact-row">
			<%= link_to image_tag('facebook3.svg'), 'https://www.facebook.com'%>
			<%= link_to image_tag('man42.svg'), 'https://www.steam.com'%>
			<%= link_to image_tag('twitter2.svg'), 'https://www.twitter.com' %>
			<%= link_to image_tag('play125.svg'), 'https://www.youtube.com'%>
			<%= link_to image_tag('social24.svg'), 'https://www.linkedin.com'%>
			<%= link_to image_tag('google2.svg'), 'https://www.google.com' %>
		</div>
	</div>

</div>
